<h5>LA NOUVELLE GESTION COLLABORATIVE</h5>
<div id="container">
    <div id="links"><img src="dwexo.png" alt="Logo">
        <a routerLink="/acceuil" routerlinkactive="active">Accueil</a>
        <a href="">Nos Produits</a>
        <a href="">Contactez-nous</a>
                <a routerLink="/contact" routerlinkactive="active">Contacts</a>

        </div>
    
    <div id="buttons">
        <button>Essai 15 jours gratuit</button>
        <button *ngIf="!isLoggedIn()" routerLink="/connection">
            Se connecter
        </button>

        <button *ngIf="isLoggedIn()" (click)="logout()">
            Se déconnecter <br>
            "{{username}}"
        </button>

    </div>
</div>