.auth-page {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #5a1245, #b0124a);
  font-family: Arial, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  color: white;
}
.message {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fbe7f1;   
  color: #8a124a;              
  border: 1px solid #d81b60;   
}
a{
text-decoration: none;
color: white;
font-weight: bold;
}
.social .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
  background: white;
  border-radius: 4px;
}

.brand-link {
  font-weight: 600;
}

.auth-container {
  background: white;
  border-radius: 40px 0 0 40px;
  margin: 40px 0 0 0;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form {
  width: 40%;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #6a1b4d;
}

.logo .dot {
  color: #c2185b;
}

.auth-form h2 {
  margin: 24px 0;
  color: #6a1b4d;
}

.input-group {
  position: relative;
  margin-bottom: 16px;
}

.input-group input {
  width: 85%;
  padding: 12px 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn.primary {
  background: linear-gradient(90deg, #6a1b4d, #c2185b);
  color: white;
}

.btn.secondary {
  background: white;
  border: 1px solid #c2185b;
  color: #c2185b;
}

.forgot {
  display: block;
  text-align: right;
  margin-top: 12px;
  color: #c2185b;
  font-size: 14px;
  text-decoration: none;
}


.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll-x 90s linear infinite;
}

.scroll-set {
  display: flex;
  align-items: center;
  gap: 12px;
}

.scroll-set img {
  height: 350px;             
  padding: 6px;             
  background: #fff;         
  border-radius: 10px;     
  flex-shrink: 0;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.auth-illustration {
  overflow: hidden;
  width: 30%;
  position: relative;

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
.icon{
    color: #6a1b4d;
    font-weight: bold;
    font-size: larger;
}