<div id="search">
  <h4>{{filtredTable.length}} contacts trouvés</h4>
  <div class="search-box">
    <label for="">Nommer un contact: </label>
    <input type="text" (input)="filterContacts($event.target.value)" placeholder="Rechercher...">
  </div>
</div>
<div id="container">
  @for(contact of filtredTable; track $index){
  <div id="contact-card">
<img type="button" (click)="deleteContact(contact.linkedinUrl,contact.localId)" alt="supprimer" class="bin-btn" src="bin.png" alt="">

    <h1>{{$index+1}}</h1>
    <h3>{{contact.name}}</h3>
    <p>{{contact.location}}</p>
    <p>{{contact.title}}</p>
    <a target="_blank" href="{{contact.linkedinUrl}}">
      <img src="in.png" alt="LinkedIn" width="20" height="20">
    </a>
  </div>
  }

</div>