
  <div class="container">
    <span class="badge">ERP CLOUD DE LA GENZ</span>

    <h1>
      Tout votre business<br>
      connecté en un seul<br>
      endroit.
    </h1>

    <div class="info">
      <span>✓ Robuste</span>
      <span>✓ Sécurisée</span>
      <span>✓ Intuitive</span>
    </div>

    <div class="bg">
      <img src="bg1.png" alt="">
      <img src="bg2.png" alt="">
    </div>
    <div class="buttons">
      <button class="btn pink">Commencer Gratuitement →</button>
      <button class="btn purple">Se Connecter Maintenant →</button>
    </div>
  </div>