body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 80px 20px;
  
}
.bg img {
  position: absolute;
  height: 400px;
  width: 400px;
}
.bg img:first-child {
  bottom: 50px;
  left:0;
}
.bg img:last-child {
  bottom: 50px;
  right:0;
}
.container {
  max-width: 900px;
  margin: auto;
}

.badge {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

h1 {
  font-size: 48px;
  margin: 30px 0;
}

.info span {
  margin: 0 15px;
  color: #555;
}

.buttons {
  margin-top: 40px;
}

.btn {
  border: none;
  padding: 14px 22px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.pink {
  background: #d4145a;
}

.purple {
  background: #2d1457;
}
